@font-face {
    font-family: OdinFont;
    src: url(./assets/Norse-Bold.otf);
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
}

form>input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem 0.5rem;
    font-weight: bold;
    margin: 2rem;
    color: white;
    background-color: rgb(74, 100, 50);
}

form .white-box {
    padding-inline-end: 20vh;
}

.side-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    object-fit: scale-down;
    height: 100%;
}

.side-image div {
    background: #00000080;
    display: flex;
    margin-top: 150px;
    padding: 0;
    justify-content: center;
    align-items: center;

}

.side-image div img {
    width: 15%;
    margin-block: 10px;
}

.side-image div p {
    color: white;
    margin: 0;
    font-size: 12vh;
    font-family: OdinFont;
}

.side-image p,
.side-image p a {
    text-align: center;
    color: white;
}

.content {
    flex: 1.5;
    background: #f1f1f1;
}

.content .pre-text {
    padding-top: 15vh;
    padding-inline-start: 5vh;
    padding-inline-end: 20vh;
    font-size: 80%;
}

.content .white-box {
    padding-top: 1px;
    box-shadow: 0px 5px 4px rgb(202, 202, 202);
    padding-inline-start: 5vh;
    background: white;
}

.forms-container {
    display: flex;
}

.form-container {
    flex: 1;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-weight: bold;
    color: rgb(81, 81, 81);
    font-size: 65%;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
}

.form-container input {
    margin-bottom: 10px;
    font-size: large;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.form-container input:focus {
    box-shadow: 0px 5px 5px rgb(202, 202, 202);
}

.form-container input:invalid {
    border: 1px solid red;
}

.white-box form {
    display: flex;
}